	html{
		padding:0;
		margin:0;
	}
	
	body
	{
		background-color:rgb(255,185,142,20%);
		color:#0b032d;
		padding:0;
		margin:0;
	}
	*{
		box-sizing: border-box;
	}
	.contact{
		background-color:#621940;
		height:25px;
		width:100%;
		color:white;
		text-align:right;
		font-size:18px;
		margin-right:15px;
		box-shadow:0px 2px 10px rgba(0,0,50,0.8);
		
	}
	.heading
	{
		letter-spacing:10px;
		color:#621940;
		font-size:200%;
		text-decoration:none;
		font-family: 'Comic Neue', cursive;
	}
	.header
	{
		position:relative;
		color:#621940;
		padding:3%;
		height:13%;
	}
	#logo
	{
		float:left;
		height:60px;
		margin-right:10px;
	}
	.caption
	{
		color:#621940;
	}
	.nav{
		width:100%;
		position:sticky;
		top:0;		
		z-index:10;
	}
	.nav button
	{
		border:none;
		background-color:#621940;
		transition-duration:.4s;
		padding:10px;
		float:left;
		color:#ffb997;
		font-size:20px;
		border-bottom:1px solid #0b032d;
		border-right:1px solid #0b032d;
		cursor:pointer;
	}
	.nav a{
		color:#ffb997;
		text-decoration:none;
			
	}
	.nav button:hover{
		background-color:#0b032d;	
		color:#f67e7d;
	}
	.section{
		width:100%;	
	}
	#apply{
		text-decoration:none;
		float: right;
		border:none;
		border-radius:10px;
		padding:15px 24px;
		display: inline-block;
		transition-duration:.6s;
		color:#ffb997;
		font-size:15px;
		background-color:#0b032d;
		box-shadow:0 0px 2px 1px rgb(0,0,0);
		position:absolute;
		transform:translateY(-50%);
		top:50%;
		right:20px;
	}
	#apply:hover{
		background-color:#843b62;
		font-weight:bold;
		box-shadow:0 0px 5px 2px rgba(0,0,0,0.9);
	}
	.footer{
		background-color:#40102A;
		color:rgb(255,185,142);
		padding:40px;
	}
	.footer a{
		color:rgb(255,185,142);
		text-decoration:underline;
	}
	.footer a:hover{
		text-decoration:none;
	}
	.sub_hed{
		font-family:'Roboto', sans-serif;
		font-size:40px;
		margin-top: 20px;
		
	}
	.sub_hed_description{
		padding:15px;
		font-size:20px;
		font-family:'Merriweather', serif;
	}
	#results{
		padding:20px;
		background-color:rgb(92,34,60,.4);
	}
	#results table,td,tr{
		border-spacing:20px;
		text-align:center;
		 font-weight:bold;
	}
	#results td{
		background-color:rgb(255,185,142,50%);		
		border-radius:20px;
		font-size:15px;
		padding:10px;
	}
	#results td:hover{
		background-color:rgb(255,185,142);		
		
	}
	#results li{

		font-size:35px;
		
	}
	#whySP{
	padding:0px;

	}
	.courses{
		width:100%;
	}
	.form {
	width:80%;
	}
	.form td{
	text-align:left;
	padding:7px;	
	}
	form button{
		border:1px black solid;
		border-radius:10px;
		background-color:#843b62;
		position:absolute;
		margin-left:20%;
		padding:10px;
		cursor:pointer;
		transition:.5s;
		width:100px;
	}
	form button:hover{
		box-shadow:0 0px 2px 1px rgb(0,0,0);
		font-weight:bold;
	}
	input{
		border-radius:3px;
		border-style:none;
		box-shadow:0 0px 2px 1px rgba(0,0,0,0.5);
		margin-left:15px;
		height:20px;
	}
	input[type="radio"],input[type="checkbox"]{
		box-shadow:none;
	}
	.indianmap{
		width:600px
	}
	.clearfix::after {
	content: "";
	clear: both;
	display: table;
	}
	hr.hrnew1{
		border:none;
		margin-left:0px;
		margin-right:0px;
		border-top: 2px solid #0b032d;
	}
	#testimonials{
		background-color:rgb(92,34,60,.4);
		padding:20px;
		height:530px;
		width:100%;
	}
	#testimonials .polaroids{
		width:22%;
		margin-right:3%;
		border-radius:10px;
		border:1px solid;
		background-color:rgb(255,185,142,60%);
		float:left;
	}
	#testimonials .std_pic{
		border-radius:50%;
		height:80px;
		width:80px;
		margin:5px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	#testimonials .sub_hed_description{
		font-size:16px;
	}
	.social-menu ul{
		margin:0;
		padding:0;
		overflow:hidden;
		list-style-type:none;
	}
	.social-menu ul li a{
		margin:15px;
		font-size:20px;
		line-height:40px;
		border-radius:10px;
		background-color:rgb(255,185,142,60%);
		color:#40102A;
		float:left;
		height:40px;
		width:40px;
		text-align:center;
		transition:.6s;
	}
	.social-menu ul li a:hover{
		background-color:rgb(255,185,142);
	}
		#modal{
		display:none;
		background-color:rgb(0,0,0);
		background-color:rgb(0,0,0,.8);
		position:fixed;
		width:100%;
		height:100%;
		z-index: 12; 
		padding-top: 100px;
		left: 0;
		top: 0;
		overflow: auto;
		backdrop-filter: blur(4px);
	}
	#close{
		position:absolute;
		right:30%;
		float:right;
		color:white;
		font-size:20px;
		line-height:20px;
		height:20px;
		width:20px;
		font-weight:bold;
		background-color:black;
		border-radius:3px;
		border-top-right-radius:0px;
		text-align:center;
		cursor:pointer;
	}
	#close:hover{
		background-color:rgb(25,25,25);
		color:rgb(200,200,200);
	}
	.modal-img{ 
		margin: auto;
		display: block;
		width: 40%;
		border:2px solid black;
		max-width: 700px;
		animation-name:zoom;
		animation-duration:1.5s;
	}
	@keyframes zoom{
		from{transform:scale(0)}
		to{transform:scale(1)}
	}
